@media only screen and (min-width: 1024px) and (min-height: 1366px) { /*iPad pro*/
        *{
          margin-right: 1px;
          margin-left: 1px;
          overflow-x: hidden;
        }
        section .container {
          width: 100%;
          margin: 0;
          padding: 0;
        }
        
        /*Nav-bar*/
 
        #nav-bar .avatar {
          display: none;
        }
        .avatar .avt {
            display: none;
        }
        .hovaten {
          position: absolute;
          top: 99px;
          left: 280px;
          color: white;
          font-size: 50px;
        }
      
        .congviec {
          position: absolute;
          top: 180px;
          left: 359px;
          color: white;
          font-size: 30px;
        }

          /*Mục tiêu nghề nghiệp*/
          #target {
            padding: 80px 50px 50px 125px;
            background-color: rgb(236, 236, 236);
          }
          
          #target p {
            padding-top: 30px;
            line-height: 24px;
          }
          
          #personal-info {
            line-height: 30px;
            padding-top: 80px;
            padding-left: 40px;
            background-color: rgb(202, 202, 202);
          }
          .container1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
          }
          /*Công việc*/
        
          .container2 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            gap: 30px;
            line-height: 26px;
          }
          /*Công việc*/
          .info-experience {
            display: grid;
            grid-template-columns: 1fr 1fr;
          
            border: 2px solid rgb(232, 232, 232);
          }

           .info-hobby1,
           .info-hobby {
             display: grid;
             grid-template-columns: 1fr 1fr;
             grid-template-rows: auto auto;
             height: auto;
             border: 1px solid rgb(210, 210, 210);
             margin-bottom: 40px;
          }
/*Hover*/
.viewmore {
  display: none;
  cursor: pointer;
}

/* Hiển thị nút "View More" khi hover vào phần kỹ năng */
.info-hobby:hover .viewmore {
  display: block;
}
.info-hobby1:hover .viewmore {
display: block;
}
.info-experience:hover .viewmore {
display: block;
}
          /*Chứng chỉ - Giải thưởng*/
          .ccgtstyle {
            padding-left: 328px;
        }
        
        .ccgt, .ccgt1, .ccgt2 {
            display: flex;
            flex-direction: column;
        }
        
        .ccgt {
            border-right: 1px solid orange;
        }
        
        .ccgt2 {
            margin-right: auto;
           
        }
            /*Dự án*/
            .project-img {
                width: 332px;
            }
            .project {
                column-gap: 1px;
            }
    }
      
          /*Footer*/
          .contact-list {
            display: contents;
          }
        
          
          
    